[gcode_macro Screws_tilt]
gcode:
    {% set travel_speed = printer["gcode_macro GlobalVariables"].travel_speed %}
    {% set BED_TEMP = params.BED_TEMP|default(80)|float %}

    # Start bed heating and wait
    RESPOND PREFIX= MSG="Waiting for bed temperature..."
    M140 S{BED_TEMP}
    {% if printer.toolhead.homed_axes != 'xyz' %}
		G28	             #Home All Axes
	{% endif %}
    G4 P15000
    M190 S{BED_TEMP}
    Attach_probe
    SCREWS_TILT_CALCULATE samples=3
    G1 X125 Y230 Z200 F{ travel_speed }

[gcode_macro M900]
gcode:
	# Parameters
	{% set pa = params.K|float %}
	
	SET_PRESSURE_ADVANCE ADVANCE={pa}

[gcode_macro FLOW_CALIBRATION]
gcode:
    M221 S{params.FLOW}
    SET_PRESSURE_ADVANCE ADVANCE={params.PRESSURE_ADVANCE}

[gcode_macro SEARCH_VARS]
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}