## Slicer Printer settings/Custom G-code/Start G-code

M104 S0
M140 S0
PRINT_START EXTRUDER_TEMP=[first_layer_temperature] BED_TEMP=[first_layer_bed_temperature] DWELL=5

## Slicer Printer settings/Custom G-code/End G-code

PRINT_END

## PRINT_START MACRO

[gcode_macro PRINT_START]
gcode:
    {% set extruderTemp = params.EXTRUDER_TEMP|int %}  # Extruder temperature
    {% set bedTemp = params.BED_TEMP|int %}            # Heated bed temperature
    {% set DWELL = params.DWELL|default(10)|int %}     # Heatsoaking duration in minutes, default is 10 minutes
    
    STATUS_HEATING
    M104 S{extruderTemp|float*0.50}     # Set extruder temperature to 50% of the print temperature to soften filament on nozzle
    M140 S{bedTemp}                     # Set bed temperature
    G28                                 # Homing
    G0 Z100                             # Move toolhead higher up
    M106 S51                            # Set part cooling fan to 25%
    M190 S{bedTemp}                     # Wait for bed to come to temperature
    G4 P{DWELL*60000}                   # Heatsoak to let the bed settle
    M106 S0                             # Reset fan to 0%
    STATUS_HOMING
    G28 Z0                              # Homing Z
    STATUS_MESHING
    BED_MESH_CALIBRATE                  # Create a mesh
    M104 S{extruderTemp}                # Set extruder to printing temperature
    G90                                 # Absolute positioning
    M83                                 # Extruder relative positioning
    STATUS_PRINTING
    PRIME_LINE EXTRUDER_TEMP={extruderTemp} # Create a prime line

[gcode_macro PRIME_LINE]
gcode:

    {% set Ystart = 0 %}                # Adjust 'Ystart' to where you want the prime line to be printed in Y
 
    G90                                 # Absolute positioning
    G0 X5 Y{Ystart} Z0.3 F6000          # Move to print line starting coordinates               
    M109 S{params.EXTRUDER_TEMP}        # Set nozzle to printing temperature and wait
    G92 E0                              # Reset extruder
    M83                                 # Relative extruder positioning
    G1 E8 F300                          # Making a blob
    G91                                 # Relative positioning
    G1 X120 E30 F1200                   # First prime line
    GO Y1                               # Move 1mm up in Y
    G1 X-100 E25 F1200                  # Second prime line
    G92 E0                              # Reset extruder
    G90                                 # Absolute positioning
    M83                                 # Relative extruder positioning

[gcode_macro PRINT_END]
gcode:
    M106 S255                                                                   # Blast PC fan to prevent oozing
    SET_VELOCITY_LIMIT ACCEL=3000 ACCEL_TO_DECEL=3000 SQUARE_CORNER_VELOCITY=8  # Reset acceleration
    G91                                                                         # Relative positioning
    G0 Z15 E-0.75 F1800                                                         # Move toolhead 15mm up to prevent colliding with the print
    G1 E-5 F1800                                                                # Retract 5mm of filament to prevent oozing
    G90                                                                         # Absolute positioning
    G0 X250 Y232 F9000                                                          # Present print
    TURN_OFF_HEATERS                                                            # Turn off bed and extruder
    DISABLE_MOTORS                                                              # Disabling the motors
    M221 S100                                                                   # Reset flow to 100%
    M220 S100                                                                   # Reset speed to 100%
    BED_MESH_CLEAR                                                              # Clear the bed mesh
    G4 P30000                                                                   # Wait 30 seconds for the fan to cool down the nozzle
    M106 S0                                                                     # Turn off PC fan
