#This is my SuperSlicer Printer Settings/Custom G-code/End G-code section

#PRINT_END

[gcode_macro PRINT_END]
gcode:
    SET_VELOCITY_LIMIT ACCEL=7000 ACCEL_TO_DECEL=7000 SQUARE_CORNER_VELOCITY=8 # reset acceleration
    G91                 # relative positioning
    G1 E-2              # retract 2mm of filament to prevent oozing
    G90                 # absolute positioning
    TURN_OFF_HEATERS    # turn off bed and extruder
    Park_toolhead       # park the toolhead on the probe
    M221 S100           # reset flow to 100%
    BED_MESH_CLEAR      # clear the bed mesh
    M106 S0